In [48]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [51]:
df = pd.read_csv('aac_intakes_outcomes.csv')
df

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,7/9/07 0:00,NaN,Return to Owner,Neutered Male,3650,10.000000,"(7.5, 10.0]",12/7/17 14:07,...,"(7.5, 10.0]",12/7/17 0:00,12,2017,2017-12,Thursday,14,1,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,7/9/07 0:00,NaN,Return to Owner,Neutered Male,2555,7.000000,"(5.0, 7.5]",12/20/14 16:35,...,"(5.0, 7.5]",12/19/14 10:21,12,2014,2014-12,Friday,10,2,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,7/9/07 0:00,NaN,Return to Owner,Neutered Male,2190,6.000000,"(5.0, 7.5]",3/8/14 17:10,...,"(5.0, 7.5]",3/7/14 14:26,3,2014,2014-03,Friday,14,3,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,4/2/04 0:00,Partner,Transfer,Neutered Male,3650,10.000000,"(7.5, 10.0]",4/7/14 15:12,...,"(7.5, 10.0]",4/2/14 15:55,4,2014,2014-04,Wednesday,15,1,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,10/16/97 0:00,NaN,Return to Owner,Neutered Male,5840,16.000000,"(15.0, 17.5]",11/16/13 11:54,...,"(15.0, 17.5]",11/16/13 9:02,11,2013,2013-11,Saturday,9,1,0 days 02:52:00.000000000,0.119444
5,15 years,A141142,6/1/98 0:00,NaN,Return to Owner,Spayed Female,5475,15.000000,"(12.5, 15.0]",11/17/13 11:40,...,"(12.5, 15.0]",11/16/13 14:46,11,2013,2013-11,Saturday,14,1,0 days 20:54:00.000000000,0.870833
6,15 years,A163459,10/19/99 0:00,NaN,Return to Owner,Intact Female,5475,15.000000,"(12.5, 15.0]",11/14/14 19:28,...,"(12.5, 15.0]",11/14/14 15:11,11,2014,2014-11,Friday,15,1,0 days 04:17:00.000000000,0.178472
7,15 years,A165752,8/18/99 0:00,NaN,Return to Owner,Neutered Male,5475,15.000000,"(12.5, 15.0]",9/15/14 16:35,...,"(12.5, 15.0]",9/15/14 11:28,9,2014,2014-09,Monday,11,1,0 days 05:07:00.000000000,0.213194
8,15 years,A178569,3/17/99 0:00,NaN,Return to Owner,Neutered Male,5475,15.000000,"(12.5, 15.0]",3/23/14 15:57,...,"(12.5, 15.0]",3/17/14 9:45,3,2014,2014-03,Monday,9,1,6 days 06:12:00.000000000,6.258333
9,18 years,A189592,8/1/97 0:00,NaN,Return to Owner,Spayed Female,6570,18.000000,"(17.5, 20.0]",9/18/15 19:04,...,"(17.5, 20.0]",9/18/15 17:46,9,2015,2015-09,Friday,17,1,0 days 01:18:00.000000000,0.054167
10,16 years,A191351,8/21/99 0:00,NaN,Return to Owner,Intact Female,5840,16.000000,"(15.0, 17.5]",11/17/15 13:29,...,"(15.0, 17.5]",11/13/15 15:57,11,2015,2015-11,Friday,15,1,3 days 21:32:00.000000000,3.897222
11,14 years,A197810,1/21/00 0:00,Partner,Transfer,Spayed Female,5110,14.000000,"(12.5, 15.0]",12/22/14 15:23,...,"(12.5, 15.0]",12/8/14 12:30,12,2014,2014-12,Monday,12,1,14 days 02:53:00.000000000,14.120139
12,16 years,A200922,10/3/97 0:00,Foster,Adoption,Neutered Male,5840,16.000000,"(15.0, 17.5]",11/22/13 9:44,...,"(15.0, 17.5]",10/3/13 15:47,10,2013,2013-10,Thursday,15,1,49 days 17:57:00.000000000,49.747917
13,14 years,A208755,4/27/00 0:00,Suffering,Euthanasia,Neutered Male,5110,14.000000,"(12.5, 15.0]",2/17/15 16:25,...,"(12.5, 15.0]",2/17/15 13:17,2,2015,2015-02,Tuesday,13,1,0 days 03:08:00.000000000,0.130556
14,17 years,A210457,6/1/99 0:00,Foster,Adoption,Neutered Male,6205,17.000000,"(15.0, 17.5]",10/7/16 12:34,...,"(15.0, 17.5]",9/28/16 12:05,9,2016,2016-09,Wednesday,12,1,9 days 00:29:00.000000000,9.020139
15,13 years,A212672,3/5/00 0:00,NaN,Return to Owner,Intact Female,4745,13.000000,"(12.5, 15.0]",12/6/13 14:34,...,"(12.5, 15.0]",11/25/13 17:18,11,2013,2013-11,Monday,17,1,10 days 21:16:00.000000000,10.886111
16,19 years,A214991,3/1/94 0:00,Suffering,Euthanasia,Spayed Female,6935,19.000000,"(17.5, 20.0]",12/14/13 13:28,...,"(17.5, 20.0]",12/14/13 11:51,12,2013,2013-12,Saturday,11,1,0 days 01:37:00.000000000,0.067361
17,13 years,A215368,1/17/01 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",8/4/14 16:31,...,"(12.5, 15.0]",8/4/14 13:51,8,2014,2014-08,Monday,13,1,0 days 02:40:00.000000000,0.111111
18,15 years,A218622,10/19/98 0:00,Suffering,Euthanasia,Neutered Male,5475,15.000000,"(12.5, 15.0]",12/2/13 17:09,...,"(12.5, 15.0]",12/2/13 15:33,12,2013,2013-12,Monday,15,1,0 days 01:36:00.000000000,0.066667
19,15 years,A218624,10/19/98 0:00,Suffering,Euthanasia,Neutered Male,5475,15.000000,"(12.5, 15.0]",12/2/13 17:11,...,"(12.5, 15.0]",12/2/13 15:33,12,2013,2013-12,Monday,15,1,0 days 01:38:00.000000000,0.068056
20,16 years,A221327,5/2/99 0:00,Suffering,Euthanasia,Spayed Female,5840,16.000000,"(15.0, 17.5]",4/29/15 13:42,...,"(15.0, 17.5]",4/28/15 15:08,4,2015,2015-04,Tuesday,15,1,0 days 22:34:00.000000000,0.940278
21,12 years,A221448,11/29/00 0:00,NaN,Return to Owner,Neutered Male,4380,12.000000,"(10.0, 12.5]",10/28/13 12:37,...,"(10.0, 12.5]",10/27/13 11:17,10,2013,2013-10,Sunday,11,1,1 days 01:20:00.000000000,1.055556
22,15 years,A226069,6/17/00 0:00,Foster,Adoption,Neutered Male,5475,15.000000,"(12.5, 15.0]",10/29/15 15:00,...,"(12.5, 15.0]",10/6/15 12:29,10,2015,2015-10,Tuesday,12,1,23 days 02:31:00.000000000,23.104861
23,12 years,A228887,4/27/01 0:00,NaN,Return to Owner,Spayed Female,4380,12.000000,"(10.0, 12.5]",11/9/13 17:42,...,"(10.0, 12.5]",11/9/13 17:00,11,2013,2013-11,Saturday,17,1,0 days 00:42:00.000000000,0.029167
24,13 years,A230482,3/20/01 0:00,Suffering,Euthanasia,Intact Male,4745,13.000000,"(12.5, 15.0]",3/13/15 17:01,...,"(12.5, 15.0]",3/13/15 15:20,3,2015,2015-03,Friday,15,1,0 days 01:41:00.000000000,0.070139
25,13 years,A233812,6/8/01 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",9/6/14 18:52,...,"(12.5, 15.0]",9/6/14 14:37,9,2014,2014-09,Saturday,14,1,0 days 04:15:00.000000000,0.177083
26,12 years,A234161,3/26/01 0:00,NaN,Return to Owner,Neutered Male,4380,12.000000,"(10.0, 12.5]",12/27/13 17:02,...,"(10.0, 12.5]",12/27/13 12:13,12,2013,2013-12,Friday,12,1,0 days 04:49:00.000000000,0.200694
27,13 years,A236259,7/10/01 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",7/9/14 12:00,...,"(10.0, 12.5]",7/5/14 7:13,7,2014,2014-07,Saturday,7,1,4 days 04:47:00.000000000,4.199306
28,15 years,A238870,5/24/01 0:00,Partner,Transfer,Neutered Male,5475,15.000000,"(12.5, 15.0]",6/17/16 12:37,...,"(12.5, 15.0]",6/9/16 16:22,6,2016,2016-06,Thursday,16,1,7 days 20:15:00.000000000,7.843750
29,13 years,A243903,7/12/00 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",1/5/14 11:45,...,"(12.5, 15.0]",12/31/13 16:26,12,2013,2013-12,Tuesday,16,1,4 days 19:19:00.000000000,4.804861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79642,3 years,A769003,3/28/15 0:00,NaN,Adoption,Neutered Male,1095,3.000000,"(2.5, 5.0]",4/3/18 17:54,...,"(2.5, 5.0]",3/28/18 16:41,3,2018,2018-03,Wednesday,16,1,6 days 01:13:00.000000000,6.050694
79643,1 year,A769006,3/29/17 0:00,NaN,Return to Owner,Intact Male,365,1.000000,"(-0.025, 2.5]",3/29/18 13:04,...,"(-0.025, 2.5]",3/28/18 17:20,3,2018,2018-03,Wednesday,17,1,0 days 19:44:00.000000000,0.822222
79644,1 month,A769007,2/21/18 0:00,Rabies Risk,Euthanasia,Intact Female,30,0.082192,"(-0.025, 2.5]",3/29/18 8:59,...,"(-0.025, 2.5]",3/28/18 17:28,3,2018,2018-03,Wednesday,17,1,0 days 15:31:00.000000000,0.646528
79645,2 months,A769010,12/31/17 0:00,NaN,Return to Owner,Intact Male,60,0.164384,"(-0.025, 2.5]",3/31/18 14:16,...,"(-0.025, 2.5]",3/28/18 17:41,3,2018,2018-03,Wednesday,17,1,2 days 20:35:00.000000000,2.857639
79646,10 years,A769011,3/29/08 0:00,NaN,Return to Owner,Spayed Female,3650,10.000000,"(7.5, 10.0]",3/29/18 11:55,...,"(7.5, 10.0]",3/28/18 17:43,3,2018,2018-03,Wednesday,17,1,0 days 18:12:00.000000000,0.758333
79647,7 years,A769012,3/29/11 0:00,NaN,Adoption,Spayed Female,2555,7.000000,"(5.0, 7.5]",4/1/18 12:36,...,"(5.0, 7.5]",3/28/18 17:48,3,2018,2018-03,Wednesday,17,1,3 days 18:48:00.000000000,3.783333
79648,1 year,A769013,3/28/17 0:00,Partner,Transfer,Unknown,365,1.000000,"(-0.025, 2.5]",3/30/18 13:44,...,"(-0.025, 2.5]",3/28/18 18:03,3,2018,2018-03,Wednesday,18,1,1 days 19:41:00.000000000,1.820139
79649,2 months,A769014,1/28/18 0:00,NaN,Adoption,Neutered Male,60,0.164384,"(-0.025, 2.5]",4/2/18 19:05,...,"(-0.025, 2.5]",3/28/18 18:08,3,2018,2018-03,Wednesday,18,1,5 days 00:57:00.000000000,5.039583
79650,1 year,A769015,3/28/17 0:00,Snr,Transfer,Intact Male,365,1.000000,"(-0.025, 2.5]",3/31/18 19:27,...,"(-0.025, 2.5]",3/28/18 18:18,3,2018,2018-03,Wednesday,18,1,3 days 01:09:00.000000000,3.047917
79651,1 year,A769016,3/28/17 0:00,Suffering,Euthanasia,Unknown,365,1.000000,"(-0.025, 2.5]",3/28/18 19:02,...,"(-0.025, 2.5]",3/28/18 18:33,3,2018,2018-03,Wednesday,18,1,0 days 00:29:00.000000000,0.020139
79652,1 month,A769018,2/15/18 0:00,Partner,Transfer,Intact Female,30,0.082192,"(-0.025, 2.5]",3/29/18 15:55,...,"(-0.025, 2.5]",3/28/18 18:42,3,2018,2018-03,Wednesday,18,1,0 days 21:13:00.000000000,0.884028
79653,2 months,A769020,1/18/18 0:00,NaN,Adoption,Neutered Male,60,0.164384,"(-0.025, 2.5]",4/1/18 17:27,...,"(-0.025, 2.5]",3/28/18 18:51,3,2018,2018-03,Wednesday,18,1,3 days 22:36:00.000000000,3.941667
79654,1 year,A769034,3/29/17 0:00,NaN,Adoption,Spayed Female,365,1.000000,"(-0.025, 2.5]",4/3/18 15:23,...,"(-0.025, 2.5]",3/29/18 11:44,3,2018,2018-03,Thursday,11,1,5 days 03:39:00.000000000,5.152083
79655,1 year,A769036,3/29/17 0:00,NaN,Adoption,Spayed Female,365,1.000000,"(-0.025, 2.5]",3/31/18 18:26,...,"(-0.025, 2.5]",3/29/18 11:44,3,2018,2018-03,Thursday,11,1,2 days 06:42:00.000000000,2.279167
79656,2 months,A769042,1/18/18 0:00,Partner,Transfer,Intact Female,60,0.164384,"(-0.025, 2.5]",4/2/18 14:26,...,"(-0.025, 2.5]",3/29/18 12:38,3,2018,2018-03,Thursday,12,1,4 days 01:48:00.000000000,4.075000
79657,9 months,A769043,6/29/17 0:00,NaN,Return to Owner,Neutered Male,270,0.739726,"(-0.025, 2.5]",4/3/18 15:14,...,"(-0.025, 2.5]",3/29/18 12:40,3,2018,2018-03,Thursday,12,1,5 days 02:34:00.000000000,5.106944
79658,1 year,A769044,3/29/17 0:00,NaN,Adoption,Spayed Female,365,1.000000,"(-0.025, 2.5]",4/1/18 17:12,...,"(-0.025, 2.5]",3/29/18 12:50,3,2018,2018-03,Thursday,12,1,3 days 04:22:00.000000000,3.181944
79659,6 years,A769045,3/29/12 0:00,NaN,Return to Owner,Unknown,2190,6.000000,"(5.0, 7.5]",3/29/18 13:52,...,"(5.0, 7.5]",3/29/18 13:13,3,2018,2018-03,Thursday,13,1,0 days 00:39:00.000000000,0.027083
79660,1 year,A769047,3/29/17 0:00,NaN,Return to Owner,Neutered Male,365,1.000000,"(-0.025, 2.5]",3/29/18 16:01,...,"(-0.025, 2.5]",3/29/18 13:30,3,2018,2018-03,Thursday,13,1,0 days 02:31:00.000000000,0.104861
79661,3 years,A769051,3/29/15 0:00,Snr,Transfer,Intact Male,1095,3.000000,"(2.5, 5.0]",4/2/18 18:49,...,"(2.5, 5.0]",3/29/18 14:46,3,2018,2018-03,Thursday,14,1,4 days 04:03:00.000000000,4.168750
79662,2 weeks,A769055,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:12,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:49:00.000000000,0.075694
79663,2 weeks,A769056,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:13,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:50:00.000000000,0.076389
79664,2 weeks,A769057,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:13,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:50:00.000000000,0.076389
79665,2 weeks,A769058,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:13,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:50:00.000000000,0.076389
79666,2 weeks,A769059,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/30/18 9:23,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 17:00:00.000000000,0.708333
79667,2 weeks,A769060,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:14,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:51:00.000000000,0.077083
79668,2 years,A769064,3/29/16 0:00,Rabies Risk,Euthanasia,Unknown,730,2.000000,"(-0.025, 2.5]",3/29/18 18:30,...,"(-0.025, 2.5]",3/29/18 17:13,3,2018,2018-03,Thursday,17,1,0 days 01:17:00.000000000,0.053472
79669,1 year,A769065,3/29/17 0:00,Rabies Risk,Euthanasia,Unknown,365,1.000000,"(-0.025, 2.5]",3/29/18 18:28,...,"(-0.025, 2.5]",3/29/18 17:19,3,2018,2018-03,Thursday,17,1,0 days 01:09:00.000000000,0.047917
79670,10 months,A769066,5/1/17 0:00,NaN,Return to Owner,Intact Male,300,0.821918,"(-0.025, 2.5]",3/31/18 12:37,...,"(-0.025, 2.5]",3/29/18 18:19,3,2018,2018-03,Thursday,18,1,1 days 18:18:00.000000000,1.762500
79671,10 years,A769067,3/29/08 0:00,Suffering,Euthanasia,Spayed Female,3650,10.000000,"(7.5, 10.0]",3/30/18 13:52,...,"(7.5, 10.0]",3/29/18 18:20,3,2018,2018-03,Thursday,18,1,0 days 19:32:00.000000000,0.813889

In [5]:
mask = df['animal_type'] == "Dog"
dogs_only = df[mask]
dogs_only

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,7/9/07 0:00,NaN,Return to Owner,Neutered Male,3650,10.000000,"(7.5, 10.0]",12/7/17 14:07,...,"(7.5, 10.0]",12/7/17 0:00,12,2017,2017-12,Thursday,14,1,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,7/9/07 0:00,NaN,Return to Owner,Neutered Male,2555,7.000000,"(5.0, 7.5]",12/20/14 16:35,...,"(5.0, 7.5]",12/19/14 10:21,12,2014,2014-12,Friday,10,2,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,7/9/07 0:00,NaN,Return to Owner,Neutered Male,2190,6.000000,"(5.0, 7.5]",3/8/14 17:10,...,"(5.0, 7.5]",3/7/14 14:26,3,2014,2014-03,Friday,14,3,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,4/2/04 0:00,Partner,Transfer,Neutered Male,3650,10.000000,"(7.5, 10.0]",4/7/14 15:12,...,"(7.5, 10.0]",4/2/14 15:55,4,2014,2014-04,Wednesday,15,1,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,10/16/97 0:00,NaN,Return to Owner,Neutered Male,5840,16.000000,"(15.0, 17.5]",11/16/13 11:54,...,"(15.0, 17.5]",11/16/13 9:02,11,2013,2013-11,Saturday,9,1,0 days 02:52:00.000000000,0.119444
5,15 years,A141142,6/1/98 0:00,NaN,Return to Owner,Spayed Female,5475,15.000000,"(12.5, 15.0]",11/17/13 11:40,...,"(12.5, 15.0]",11/16/13 14:46,11,2013,2013-11,Saturday,14,1,0 days 20:54:00.000000000,0.870833
6,15 years,A163459,10/19/99 0:00,NaN,Return to Owner,Intact Female,5475,15.000000,"(12.5, 15.0]",11/14/14 19:28,...,"(12.5, 15.0]",11/14/14 15:11,11,2014,2014-11,Friday,15,1,0 days 04:17:00.000000000,0.178472
7,15 years,A165752,8/18/99 0:00,NaN,Return to Owner,Neutered Male,5475,15.000000,"(12.5, 15.0]",9/15/14 16:35,...,"(12.5, 15.0]",9/15/14 11:28,9,2014,2014-09,Monday,11,1,0 days 05:07:00.000000000,0.213194
8,15 years,A178569,3/17/99 0:00,NaN,Return to Owner,Neutered Male,5475,15.000000,"(12.5, 15.0]",3/23/14 15:57,...,"(12.5, 15.0]",3/17/14 9:45,3,2014,2014-03,Monday,9,1,6 days 06:12:00.000000000,6.258333
9,18 years,A189592,8/1/97 0:00,NaN,Return to Owner,Spayed Female,6570,18.000000,"(17.5, 20.0]",9/18/15 19:04,...,"(17.5, 20.0]",9/18/15 17:46,9,2015,2015-09,Friday,17,1,0 days 01:18:00.000000000,0.054167
12,16 years,A200922,10/3/97 0:00,Foster,Adoption,Neutered Male,5840,16.000000,"(15.0, 17.5]",11/22/13 9:44,...,"(15.0, 17.5]",10/3/13 15:47,10,2013,2013-10,Thursday,15,1,49 days 17:57:00.000000000,49.747917
13,14 years,A208755,4/27/00 0:00,Suffering,Euthanasia,Neutered Male,5110,14.000000,"(12.5, 15.0]",2/17/15 16:25,...,"(12.5, 15.0]",2/17/15 13:17,2,2015,2015-02,Tuesday,13,1,0 days 03:08:00.000000000,0.130556
14,17 years,A210457,6/1/99 0:00,Foster,Adoption,Neutered Male,6205,17.000000,"(15.0, 17.5]",10/7/16 12:34,...,"(15.0, 17.5]",9/28/16 12:05,9,2016,2016-09,Wednesday,12,1,9 days 00:29:00.000000000,9.020139
15,13 years,A212672,3/5/00 0:00,NaN,Return to Owner,Intact Female,4745,13.000000,"(12.5, 15.0]",12/6/13 14:34,...,"(12.5, 15.0]",11/25/13 17:18,11,2013,2013-11,Monday,17,1,10 days 21:16:00.000000000,10.886111
17,13 years,A215368,1/17/01 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",8/4/14 16:31,...,"(12.5, 15.0]",8/4/14 13:51,8,2014,2014-08,Monday,13,1,0 days 02:40:00.000000000,0.111111
18,15 years,A218622,10/19/98 0:00,Suffering,Euthanasia,Neutered Male,5475,15.000000,"(12.5, 15.0]",12/2/13 17:09,...,"(12.5, 15.0]",12/2/13 15:33,12,2013,2013-12,Monday,15,1,0 days 01:36:00.000000000,0.066667
19,15 years,A218624,10/19/98 0:00,Suffering,Euthanasia,Neutered Male,5475,15.000000,"(12.5, 15.0]",12/2/13 17:11,...,"(12.5, 15.0]",12/2/13 15:33,12,2013,2013-12,Monday,15,1,0 days 01:38:00.000000000,0.068056
20,16 years,A221327,5/2/99 0:00,Suffering,Euthanasia,Spayed Female,5840,16.000000,"(15.0, 17.5]",4/29/15 13:42,...,"(15.0, 17.5]",4/28/15 15:08,4,2015,2015-04,Tuesday,15,1,0 days 22:34:00.000000000,0.940278
21,12 years,A221448,11/29/00 0:00,NaN,Return to Owner,Neutered Male,4380,12.000000,"(10.0, 12.5]",10/28/13 12:37,...,"(10.0, 12.5]",10/27/13 11:17,10,2013,2013-10,Sunday,11,1,1 days 01:20:00.000000000,1.055556
22,15 years,A226069,6/17/00 0:00,Foster,Adoption,Neutered Male,5475,15.000000,"(12.5, 15.0]",10/29/15 15:00,...,"(12.5, 15.0]",10/6/15 12:29,10,2015,2015-10,Tuesday,12,1,23 days 02:31:00.000000000,23.104861
23,12 years,A228887,4/27/01 0:00,NaN,Return to Owner,Spayed Female,4380,12.000000,"(10.0, 12.5]",11/9/13 17:42,...,"(10.0, 12.5]",11/9/13 17:00,11,2013,2013-11,Saturday,17,1,0 days 00:42:00.000000000,0.029167
24,13 years,A230482,3/20/01 0:00,Suffering,Euthanasia,Intact Male,4745,13.000000,"(12.5, 15.0]",3/13/15 17:01,...,"(12.5, 15.0]",3/13/15 15:20,3,2015,2015-03,Friday,15,1,0 days 01:41:00.000000000,0.070139
25,13 years,A233812,6/8/01 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",9/6/14 18:52,...,"(12.5, 15.0]",9/6/14 14:37,9,2014,2014-09,Saturday,14,1,0 days 04:15:00.000000000,0.177083
27,13 years,A236259,7/10/01 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",7/9/14 12:00,...,"(10.0, 12.5]",7/5/14 7:13,7,2014,2014-07,Saturday,7,1,4 days 04:47:00.000000000,4.199306
28,15 years,A238870,5/24/01 0:00,Partner,Transfer,Neutered Male,5475,15.000000,"(12.5, 15.0]",6/17/16 12:37,...,"(12.5, 15.0]",6/9/16 16:22,6,2016,2016-06,Thursday,16,1,7 days 20:15:00.000000000,7.843750
30,15 years,A245945,5/23/00 0:00,Partner,Transfer,Neutered Male,5475,15.000000,"(12.5, 15.0]",5/25/15 11:49,...,"(12.5, 15.0]",5/20/15 22:34,5,2015,2015-05,Wednesday,22,1,4 days 13:15:00.000000000,4.552083
31,14 years,A245945,5/23/00 0:00,NaN,Return to Owner,Neutered Male,5110,14.000000,"(12.5, 15.0]",7/4/14 15:26,...,"(12.5, 15.0]",7/3/14 17:55,7,2014,2014-07,Thursday,17,2,0 days 21:31:00.000000000,0.896528
32,15 years,A249087,1/2/01 0:00,Foster,Adoption,Spayed Female,5475,15.000000,"(12.5, 15.0]",11/15/16 10:37,...,"(12.5, 15.0]",8/17/16 14:05,8,2016,2016-08,Wednesday,14,1,89 days 20:32:00.000000000,89.855556
33,14 years,A251095,12/3/01 0:00,Medical,Euthanasia,Spayed Female,5110,14.000000,"(12.5, 15.0]",3/2/16 13:16,...,"(12.5, 15.0]",3/2/16 11:55,3,2016,2016-03,Wednesday,11,1,0 days 01:21:00.000000000,0.056250
34,12 years,A251214,10/27/01 0:00,NaN,Return to Owner,Neutered Male,4380,12.000000,"(10.0, 12.5]",9/4/14 16:12,...,"(10.0, 12.5]",9/4/14 15:16,9,2014,2014-09,Thursday,15,1,0 days 00:56:00.000000000,0.038889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79618,8 years,A768959,3/28/10 0:00,NaN,Return to Owner,Neutered Male,2920,8.000000,"(7.5, 10.0]",3/29/18 11:40,...,"(7.5, 10.0]",3/28/18 9:04,3,2018,2018-03,Wednesday,9,1,1 days 02:36:00.000000000,1.108333
79619,1 year,A768960,3/28/17 0:00,NaN,Return to Owner,Intact Female,365,1.000000,"(-0.025, 2.5]",3/28/18 12:36,...,"(-0.025, 2.5]",3/28/18 9:27,3,2018,2018-03,Wednesday,9,1,0 days 03:09:00.000000000,0.131250
79621,1 year,A768964,3/28/17 0:00,NaN,Return to Owner,Neutered Male,365,1.000000,"(-0.025, 2.5]",4/2/18 17:05,...,"(-0.025, 2.5]",3/28/18 9:45,3,2018,2018-03,Wednesday,9,1,5 days 07:20:00.000000000,5.305556
79624,2 years,A768971,3/28/16 0:00,Partner,Transfer,Spayed Female,730,2.000000,"(-0.025, 2.5]",4/3/18 13:41,...,"(-0.025, 2.5]",3/28/18 12:34,3,2018,2018-03,Wednesday,12,1,6 days 01:07:00.000000000,6.046528
79625,1 year,A768974,3/28/17 0:00,NaN,Return to Owner,Spayed Female,365,1.000000,"(-0.025, 2.5]",3/28/18 19:32,...,"(-0.025, 2.5]",3/28/18 12:36,3,2018,2018-03,Wednesday,12,1,0 days 06:56:00.000000000,0.288889
79626,6 years,A768976,3/28/12 0:00,NaN,Adoption,Neutered Male,2190,6.000000,"(5.0, 7.5]",4/2/18 18:49,...,"(5.0, 7.5]",3/28/18 14:08,3,2018,2018-03,Wednesday,14,1,5 days 04:41:00.000000000,5.195139
79627,6 years,A768977,3/29/12 0:00,NaN,Return to Owner,Neutered Male,2190,6.000000,"(5.0, 7.5]",3/29/18 12:24,...,"(5.0, 7.5]",3/28/18 14:33,3,2018,2018-03,Wednesday,14,1,0 days 21:51:00.000000000,0.910417
79628,5 months,A768978,10/28/17 0:00,NaN,Adoption,Neutered Male,150,0.410959,"(-0.025, 2.5]",4/2/18 18:54,...,"(-0.025, 2.5]",3/28/18 14:46,3,2018,2018-03,Wednesday,14,1,5 days 04:08:00.000000000,5.172222
79630,5 months,A768981,10/28/17 0:00,NaN,Adoption,Spayed Female,150,0.410959,"(-0.025, 2.5]",4/1/18 16:17,...,"(-0.025, 2.5]",3/28/18 15:33,3,2018,2018-03,Wednesday,15,1,4 days 00:44:00.000000000,4.030556
79631,1 month,A768983,2/3/18 0:00,Partner,Transfer,Neutered Male,30,0.082192,"(-0.025, 2.5]",4/2/18 15:35,...,"(-0.025, 2.5]",3/28/18 15:41,3,2018,2018-03,Wednesday,15,1,4 days 23:54:00.000000000,4.995833
79632,4 years,A768984,3/28/14 0:00,NaN,Return to Owner,Intact Male,1460,4.000000,"(2.5, 5.0]",3/29/18 11:33,...,"(2.5, 5.0]",3/28/18 15:42,3,2018,2018-03,Wednesday,15,1,0 days 19:51:00.000000000,0.827083
79633,2 years,A768985,3/28/16 0:00,NaN,Return to Owner,Intact Female,730,2.000000,"(-0.025, 2.5]",3/29/18 11:34,...,"(-0.025, 2.5]",3/28/18 15:42,3,2018,2018-03,Wednesday,15,1,0 days 19:52:00.000000000,0.827778
79634,1 year,A768988,3/28/17 0:00,NaN,Return to Owner,Intact Female,365,1.000000,"(-0.025, 2.5]",3/28/18 19:26,...,"(-0.025, 2.5]",3/28/18 16:15,3,2018,2018-03,Wednesday,16,1,0 days 03:11:00.000000000,0.132639
79635,1 year,A768990,3/28/17 0:00,NaN,Return to Owner,Intact Male,365,1.000000,"(-0.025, 2.5]",3/28/18 17:34,...,"(-0.025, 2.5]",3/28/18 16:15,3,2018,2018-03,Wednesday,16,1,0 days 01:19:00.000000000,0.054861
79642,3 years,A769003,3/28/15 0:00,NaN,Adoption,Neutered Male,1095,3.000000,"(2.5, 5.0]",4/3/18 17:54,...,"(2.5, 5.0]",3/28/18 16:41,3,2018,2018-03,Wednesday,16,1,6 days 01:13:00.000000000,6.050694
79643,1 year,A769006,3/29/17 0:00,NaN,Return to Owner,Intact Male,365,1.000000,"(-0.025, 2.5]",3/29/18 13:04,...,"(-0.025, 2.5]",3/28/18 17:20,3,2018,2018-03,Wednesday,17,1,0 days 19:44:00.000000000,0.822222
79644,1 month,A769007,2/21/18 0:00,Rabies Risk,Euthanasia,Intact Female,30,0.082192,"(-0.025, 2.5]",3/29/18 8:59,...,"(-0.025, 2.5]",3/28/18 17:28,3,2018,2018-03,Wednesday,17,1,0 days 15:31:00.000000000,0.646528
79645,2 months,A769010,12/31/17 0:00,NaN,Return to Owner,Intact Male,60,0.164384,"(-0.025, 2.5]",3/31/18 14:16,...,"(-0.025, 2.5]",3/28/18 17:41,3,2018,2018-03,Wednesday,17,1,2 days 20:35:00.000000000,2.857639
79646,10 years,A769011,3/29/08 0:00,NaN,Return to Owner,Spayed Female,3650,10.000000,"(7.5, 10.0]",3/29/18 11:55,...,"(7.5, 10.0]",3/28/18 17:43,3,2018,2018-03,Wednesday,17,1,0 days 18:12:00.000000000,0.758333
79647,7 years,A769012,3/29/11 0:00,NaN,Adoption,Spayed Female,2555,7.000000,"(5.0, 7.5]",4/1/18 12:36,...,"(5.0, 7.5]",3/28/18 17:48,3,2018,2018-03,Wednesday,17,1,3 days 18:48:00.000000000,3.783333
79649,2 months,A769014,1/28/18 0:00,NaN,Adoption,Neutered Male,60,0.164384,"(-0.025, 2.5]",4/2/18 19:05,...,"(-0.025, 2.5]",3/28/18 18:08,3,2018,2018-03,Wednesday,18,1,5 days 00:57:00.000000000,5.039583
79652,1 month,A769018,2/15/18 0:00,Partner,Transfer,Intact Female,30,0.082192,"(-0.025, 2.5]",3/29/18 15:55,...,"(-0.025, 2.5]",3/28/18 18:42,3,2018,2018-03,Wednesday,18,1,0 days 21:13:00.000000000,0.884028
79653,2 months,A769020,1/18/18 0:00,NaN,Adoption,Neutered Male,60,0.164384,"(-0.025, 2.5]",4/1/18 17:27,...,"(-0.025, 2.5]",3/28/18 18:51,3,2018,2018-03,Wednesday,18,1,3 days 22:36:00.000000000,3.941667
79654,1 year,A769034,3/29/17 0:00,NaN,Adoption,Spayed Female,365,1.000000,"(-0.025, 2.5]",4/3/18 15:23,...,"(-0.025, 2.5]",3/29/18 11:44,3,2018,2018-03,Thursday,11,1,5 days 03:39:00.000000000,5.152083
79655,1 year,A769036,3/29/17 0:00,NaN,Adoption,Spayed Female,365,1.000000,"(-0.025, 2.5]",3/31/18 18:26,...,"(-0.025, 2.5]",3/29/18 11:44,3,2018,2018-03,Thursday,11,1,2 days 06:42:00.000000000,2.279167
79656,2 months,A769042,1/18/18 0:00,Partner,Transfer,Intact Female,60,0.164384,"(-0.025, 2.5]",4/2/18 14:26,...,"(-0.025, 2.5]",3/29/18 12:38,3,2018,2018-03,Thursday,12,1,4 days 01:48:00.000000000,4.075000
79657,9 months,A769043,6/29/17 0:00,NaN,Return to Owner,Neutered Male,270,0.739726,"(-0.025, 2.5]",4/3/18 15:14,...,"(-0.025, 2.5]",3/29/18 12:40,3,2018,2018-03,Thursday,12,1,5 days 02:34:00.000000000,5.106944
79660,1 year,A769047,3/29/17 0:00,NaN,Return to Owner,Neutered Male,365,1.000000,"(-0.025, 2.5]",3/29/18 16:01,...,"(-0.025, 2.5]",3/29/18 13:30,3,2018,2018-03,Thursday,13,1,0 days 02:31:00.000000000,0.104861
79670,10 months,A769066,5/1/17 0:00,NaN,Return to Owner,Intact Male,300,0.821918,"(-0.025, 2.5]",3/31/18 12:37,...,"(-0.025, 2.5]",3/29/18 18:19,3,2018,2018-03,Thursday,18,1,1 days 18:18:00.000000000,1.762500
79671,10 years,A769067,3/29/08 0:00,Suffering,Euthanasia,Spayed Female,3650,10.000000,"(7.5, 10.0]",3/30/18 13:52,...,"(7.5, 10.0]",3/29/18 18:20,3,2018,2018-03,Thursday,18,1,0 days 19:32:00.000000000,0.813889

In [6]:
mask = df['animal_type'] == "Cat"
cats_only = df[mask]
cats_only

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
10,16 years,A191351,8/21/99 0:00,NaN,Return to Owner,Intact Female,5840,16.000000,"(15.0, 17.5]",11/17/15 13:29,...,"(15.0, 17.5]",11/13/15 15:57,11,2015,2015-11,Friday,15,1,3 days 21:32:00.000000000,3.897222
11,14 years,A197810,1/21/00 0:00,Partner,Transfer,Spayed Female,5110,14.000000,"(12.5, 15.0]",12/22/14 15:23,...,"(12.5, 15.0]",12/8/14 12:30,12,2014,2014-12,Monday,12,1,14 days 02:53:00.000000000,14.120139
16,19 years,A214991,3/1/94 0:00,Suffering,Euthanasia,Spayed Female,6935,19.000000,"(17.5, 20.0]",12/14/13 13:28,...,"(17.5, 20.0]",12/14/13 11:51,12,2013,2013-12,Saturday,11,1,0 days 01:37:00.000000000,0.067361
26,12 years,A234161,3/26/01 0:00,NaN,Return to Owner,Neutered Male,4380,12.000000,"(10.0, 12.5]",12/27/13 17:02,...,"(10.0, 12.5]",12/27/13 12:13,12,2013,2013-12,Friday,12,1,0 days 04:49:00.000000000,0.200694
29,13 years,A243903,7/12/00 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",1/5/14 11:45,...,"(12.5, 15.0]",12/31/13 16:26,12,2013,2013-12,Tuesday,16,1,4 days 19:19:00.000000000,4.804861
35,17 years,A251268,11/28/00 0:00,NaN,Return to Owner,Neutered Male,6205,17.000000,"(15.0, 17.5]",1/29/18 16:07,...,"(15.0, 17.5]",1/27/18 15:06,1,2018,2018-01,Saturday,15,1,2 days 01:01:00.000000000,2.042361
40,14 years,A258441,10/8/00 0:00,Suffering,Euthanasia,Spayed Female,5110,14.000000,"(12.5, 15.0]",11/28/14 14:27,...,"(12.5, 15.0]",11/28/14 12:20,11,2014,2014-11,Friday,12,1,0 days 02:07:00.000000000,0.088194
41,14 years,A260631,4/20/00 0:00,Partner,Transfer,Neutered Male,5110,14.000000,"(12.5, 15.0]",10/20/14 13:50,...,"(12.5, 15.0]",10/16/14 18:17,10,2014,2014-10,Thursday,18,1,3 days 19:33:00.000000000,3.814583
44,20 years,A261770,11/7/94 0:00,Suffering,Euthanasia,Neutered Male,7300,20.000000,"(17.5, 20.0]",11/7/14 15:51,...,"(17.5, 20.0]",11/7/14 13:40,11,2014,2014-11,Friday,13,1,0 days 02:11:00.000000000,0.090972
49,14 years,A276644,6/1/02 0:00,Partner,Transfer,Spayed Female,5110,14.000000,"(12.5, 15.0]",1/2/17 11:03,...,"(12.5, 15.0]",12/27/16 14:51,12,2016,2016-12,Tuesday,14,1,5 days 20:12:00.000000000,5.841667
51,14 years,A279045,9/17/00 0:00,NaN,Return to Owner,Spayed Female,5110,14.000000,"(12.5, 15.0]",2/13/15 11:15,...,"(12.5, 15.0]",2/2/15 16:30,2,2015,2015-02,Monday,16,1,10 days 18:45:00.000000000,10.781250
54,13 years,A282897,10/8/01 0:00,NaN,Adoption,Neutered Male,4745,13.000000,"(12.5, 15.0]",7/11/15 16:49,...,"(12.5, 15.0]",7/6/15 15:06,7,2015,2015-07,Monday,15,1,5 days 01:43:00.000000000,5.071528
55,12 years,A282897,10/8/01 0:00,NaN,Adoption,Neutered Male,4380,12.000000,"(10.0, 12.5]",12/28/13 17:05,...,"(10.0, 12.5]",11/21/13 13:45,11,2013,2013-11,Thursday,13,2,37 days 03:20:00.000000000,37.138889
61,12 years,A287217,5/16/02 0:00,NaN,Return to Owner,Spayed Female,4380,12.000000,"(10.0, 12.5]",10/31/14 13:06,...,"(10.0, 12.5]",10/31/14 7:35,10,2014,2014-10,Friday,7,1,0 days 05:31:00.000000000,0.229861
62,11 years,A290917,10/15/02 0:00,Partner,Transfer,Spayed Female,4015,11.000000,"(10.0, 12.5]",7/8/14 14:46,...,"(10.0, 12.5]",6/27/14 16:15,6,2014,2014-06,Friday,16,1,10 days 22:31:00.000000000,10.938194
64,12 years,A292482,11/1/01 0:00,NaN,Return to Owner,Spayed Female,4380,12.000000,"(10.0, 12.5]",7/7/14 11:06,...,"(10.0, 12.5]",7/5/14 12:42,7,2014,2014-07,Saturday,12,1,1 days 22:24:00.000000000,1.933333
65,15 years,A293138,4/9/02 0:00,Partner,Transfer,Spayed Female,5475,15.000000,"(12.5, 15.0]",4/26/17 12:54,...,"(12.5, 15.0]",4/20/17 17:20,4,2017,2017-04,Thursday,17,1,5 days 19:34:00.000000000,5.815278
66,15 years,A293383,10/5/02 0:00,NaN,Return to Owner,Neutered Male,5475,15.000000,"(12.5, 15.0]",3/19/18 13:44,...,"(12.5, 15.0]",3/18/18 18:17,3,2018,2018-03,Sunday,18,1,0 days 19:27:00.000000000,0.810417
70,12 years,A295822,9/9/02 0:00,NaN,Adoption,Spayed Female,4380,12.000000,"(10.0, 12.5]",5/9/15 18:47,...,"(10.0, 12.5]",11/16/14 14:14,11,2014,2014-11,Sunday,14,1,174 days 04:33:00.000000000,174.189583
74,13 years,A301824,12/4/02 0:00,Partner,Transfer,Spayed Female,4745,13.000000,"(12.5, 15.0]",10/10/16 19:09,...,"(12.5, 15.0]",8/20/16 14:51,8,2016,2016-08,Saturday,14,1,51 days 04:18:00.000000000,51.179167
77,13 years,A304036,4/24/02 0:00,NaN,Return to Owner,Neutered Male,4745,13.000000,"(12.5, 15.0]",4/19/16 13:52,...,"(12.5, 15.0]",4/19/16 8:22,4,2016,2016-04,Tuesday,8,1,0 days 05:30:00.000000000,0.229167
78,13 years,A304036,4/24/02 0:00,NaN,Adoption,Neutered Male,4745,13.000000,"(12.5, 15.0]",6/14/15 16:09,...,"(12.5, 15.0]",6/6/15 14:34,6,2015,2015-06,Saturday,14,2,8 days 01:35:00.000000000,8.065972
86,12 years,A307592,5/23/02 0:00,NaN,Adoption,Neutered Male,4380,12.000000,"(10.0, 12.5]",6/14/14 15:15,...,"(10.0, 12.5]",5/24/14 11:22,5,2014,2014-05,Saturday,11,1,21 days 03:53:00.000000000,21.161806
92,12 years,A310938,6/21/02 0:00,NaN,Return to Owner,Neutered Male,4380,12.000000,"(10.0, 12.5]",4/19/15 12:06,...,"(10.0, 12.5]",4/18/15 14:42,4,2015,2015-04,Saturday,14,1,0 days 21:24:00.000000000,0.891667
94,13 years,A312005,7/2/01 0:00,NaN,Adoption,Neutered Male,4745,13.000000,"(12.5, 15.0]",10/18/14 16:32,...,"(12.5, 15.0]",9/18/14 13:11,9,2014,2014-09,Thursday,13,1,30 days 03:21:00.000000000,30.139583
97,13 years,A318574,4/19/03 0:00,Suffering,Euthanasia,Neutered Male,4745,13.000000,"(12.5, 15.0]",5/23/16 12:54,...,"(12.5, 15.0]",4/27/16 18:17,4,2016,2016-04,Wednesday,18,1,25 days 18:37:00.000000000,25.775694
98,12 years,A318574,4/19/03 0:00,NaN,Adoption,Neutered Male,4380,12.000000,"(10.0, 12.5]",7/31/15 17:02,...,"(10.0, 12.5]",6/13/15 14:41,6,2015,2015-06,Saturday,14,2,48 days 02:21:00.000000000,48.097917
101,10 years,A321341,7/16/03 0:00,NaN,Adoption,Spayed Female,3650,10.000000,"(7.5, 10.0]",3/30/14 16:38,...,"(7.5, 10.0]",2/1/14 13:02,2,2014,2014-02,Saturday,13,1,57 days 03:36:00.000000000,57.150000
102,16 years,A321820,3/19/01 0:00,NaN,Return to Owner,Neutered Male,5840,16.000000,"(15.0, 17.5]",2/9/18 13:31,...,"(15.0, 17.5]",2/8/18 16:29,2,2018,2018-02,Thursday,16,1,0 days 21:02:00.000000000,0.876389
105,12 years,A323090,7/29/03 0:00,NaN,Return to Owner,Spayed Female,4380,12.000000,"(10.0, 12.5]",5/22/16 11:22,...,"(10.0, 12.5]",5/21/16 17:34,5,2016,2016-05,Saturday,17,1,0 days 17:48:00.000000000,0.741667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79556,4 months,A768805,11/25/17 0:00,NaN,Adoption,Neutered Male,120,0.328767,"(-0.025, 2.5]",3/29/18 16:40,...,"(-0.025, 2.5]",3/25/18 12:07,3,2018,2018-03,Sunday,12,1,4 days 04:33:00.000000000,4.189583
79564,1 year,A768826,3/25/17 0:00,Snr,Transfer,Intact Female,365,1.000000,"(-0.025, 2.5]",3/29/18 17:36,...,"(-0.025, 2.5]",3/25/18 16:17,3,2018,2018-03,Sunday,16,1,4 days 01:19:00.000000000,4.054861
79571,5 months,A768840,9/26/17 0:00,NaN,Adoption,Spayed Female,150,0.410959,"(-0.025, 2.5]",3/27/18 19:02,...,"(-0.025, 2.5]",3/26/18 11:01,3,2018,2018-03,Monday,11,1,1 days 08:01:00.000000000,1.334028
79572,5 months,A768841,9/26/17 0:00,NaN,Adoption,Spayed Female,150,0.410959,"(-0.025, 2.5]",3/27/18 19:02,...,"(-0.025, 2.5]",3/26/18 11:01,3,2018,2018-03,Monday,11,1,1 days 08:01:00.000000000,1.334028
79573,1 year,A768842,3/26/17 0:00,Snr,Transfer,Intact Male,365,1.000000,"(-0.025, 2.5]",3/30/18 12:03,...,"(-0.025, 2.5]",3/26/18 11:17,3,2018,2018-03,Monday,11,1,4 days 00:46:00.000000000,4.031944
79579,1 day,A768861,3/25/18 0:00,Partner,Transfer,Unknown,1,0.002740,"(-0.025, 2.5]",3/26/18 14:47,...,"(-0.025, 2.5]",3/26/18 0:00,3,2018,2018-03,Monday,14,1,0 days 14:47:00.000000000,0.615972
79580,1 day,A768862,3/25/18 0:00,Partner,Transfer,Unknown,1,0.002740,"(-0.025, 2.5]",3/26/18 14:47,...,"(-0.025, 2.5]",3/26/18 0:00,3,2018,2018-03,Monday,14,1,0 days 14:47:00.000000000,0.615972
79581,1 day,A768863,3/25/18 0:00,Partner,Transfer,Unknown,1,0.002740,"(-0.025, 2.5]",3/26/18 14:47,...,"(-0.025, 2.5]",3/26/18 0:00,3,2018,2018-03,Monday,14,1,0 days 14:47:00.000000000,0.615972
79582,1 day,A768864,3/25/18 0:00,Partner,Transfer,Unknown,1,0.002740,"(-0.025, 2.5]",3/26/18 14:47,...,"(-0.025, 2.5]",3/26/18 0:00,3,2018,2018-03,Monday,14,1,0 days 14:47:00.000000000,0.615972
79612,2 years,A768941,3/27/16 0:00,Snr,Transfer,Intact Male,730,2.000000,"(-0.025, 2.5]",3/31/18 19:26,...,"(-0.025, 2.5]",3/27/18 16:43,3,2018,2018-03,Tuesday,16,1,4 days 02:43:00.000000000,4.113194
79614,3 days,A768947,3/24/18 0:00,Partner,Transfer,Intact Male,3,0.008219,"(-0.025, 2.5]",3/27/18 17:20,...,"(-0.025, 2.5]",3/27/18 17:18,3,2018,2018-03,Tuesday,17,1,0 days 00:02:00.000000000,0.001389
79615,3 days,A768948,3/24/18 0:00,Partner,Transfer,Intact Male,3,0.008219,"(-0.025, 2.5]",3/27/18 17:20,...,"(-0.025, 2.5]",3/27/18 17:18,3,2018,2018-03,Tuesday,17,1,0 days 00:02:00.000000000,0.001389
79622,5 months,A768969,9/28/17 0:00,Suffering,Euthanasia,Intact Female,150,0.410959,"(-0.025, 2.5]",3/29/18 8:43,...,"(-0.025, 2.5]",3/28/18 11:25,3,2018,2018-03,Wednesday,11,1,0 days 21:18:00.000000000,0.887500
79629,2 years,A768979,3/28/16 0:00,Snr,Transfer,Intact Male,730,2.000000,"(-0.025, 2.5]",3/31/18 19:26,...,"(-0.025, 2.5]",3/28/18 14:51,3,2018,2018-03,Wednesday,14,1,3 days 04:35:00.000000000,3.190972
79636,2 months,A768996,1/28/18 0:00,NaN,Adoption,Spayed Female,60,0.164384,"(-0.025, 2.5]",3/31/18 16:12,...,"(-0.025, 2.5]",3/28/18 15:54,3,2018,2018-03,Wednesday,15,1,3 days 00:18:00.000000000,3.012500
79637,2 months,A768997,1/28/18 0:00,NaN,Adoption,Spayed Female,60,0.164384,"(-0.025, 2.5]",3/31/18 18:49,...,"(-0.025, 2.5]",3/28/18 15:54,3,2018,2018-03,Wednesday,15,1,3 days 02:55:00.000000000,3.121528
79638,2 months,A768998,1/28/18 0:00,NaN,Adoption,Spayed Female,60,0.164384,"(-0.025, 2.5]",3/31/18 13:09,...,"(-0.025, 2.5]",3/28/18 15:54,3,2018,2018-03,Wednesday,15,1,2 days 21:15:00.000000000,2.885417
79639,2 months,A768999,1/28/18 0:00,Partner,Transfer,Intact Male,60,0.164384,"(-0.025, 2.5]",4/2/18 15:28,...,"(-0.025, 2.5]",3/28/18 15:54,3,2018,2018-03,Wednesday,15,1,4 days 23:34:00.000000000,4.981944
79640,1 month,A769000,1/28/18 0:00,NaN,Adoption,Neutered Male,30,0.082192,"(-0.025, 2.5]",3/30/18 16:54,...,"(-0.025, 2.5]",3/28/18 15:54,3,2018,2018-03,Wednesday,15,1,2 days 01:00:00.000000000,2.041667
79641,2 months,A769001,1/28/18 0:00,NaN,Adoption,Spayed Female,60,0.164384,"(-0.025, 2.5]",4/1/18 16:25,...,"(-0.025, 2.5]",3/28/18 15:54,3,2018,2018-03,Wednesday,15,1,4 days 00:31:00.000000000,4.021528
79650,1 year,A769015,3/28/17 0:00,Snr,Transfer,Intact Male,365,1.000000,"(-0.025, 2.5]",3/31/18 19:27,...,"(-0.025, 2.5]",3/28/18 18:18,3,2018,2018-03,Wednesday,18,1,3 days 01:09:00.000000000,3.047917
79658,1 year,A769044,3/29/17 0:00,NaN,Adoption,Spayed Female,365,1.000000,"(-0.025, 2.5]",4/1/18 17:12,...,"(-0.025, 2.5]",3/29/18 12:50,3,2018,2018-03,Thursday,12,1,3 days 04:22:00.000000000,3.181944
79659,6 years,A769045,3/29/12 0:00,NaN,Return to Owner,Unknown,2190,6.000000,"(5.0, 7.5]",3/29/18 13:52,...,"(5.0, 7.5]",3/29/18 13:13,3,2018,2018-03,Thursday,13,1,0 days 00:39:00.000000000,0.027083
79661,3 years,A769051,3/29/15 0:00,Snr,Transfer,Intact Male,1095,3.000000,"(2.5, 5.0]",4/2/18 18:49,...,"(2.5, 5.0]",3/29/18 14:46,3,2018,2018-03,Thursday,14,1,4 days 04:03:00.000000000,4.168750
79662,2 weeks,A769055,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:12,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:49:00.000000000,0.075694
79663,2 weeks,A769056,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:13,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:50:00.000000000,0.076389
79664,2 weeks,A769057,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:13,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:50:00.000000000,0.076389
79665,2 weeks,A769058,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:13,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:50:00.000000000,0.076389
79666,2 weeks,A769059,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/30/18 9:23,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 17:00:00.000000000,0.708333
79667,2 weeks,A769060,3/14/18 0:00,Partner,Transfer,Unknown,14,0.038356,"(-0.025, 2.5]",3/29/18 18:14,...,"(-0.025, 2.5]",3/29/18 16:23,3,2018,2018-03,Thursday,16,1,0 days 01:51:00.000000000,0.077083

In [10]:
print 'Number of Each Type of Animal'
vc = df['animal_type'].value_counts()
print(vc)

Number of Each Type of Animal
Dog      45366
Cat      29539
Other     4428
Bird       339
Name: animal_type, dtype: int64

In [12]:
print 'Percentage of Each Animal'
vc/(df['animal_type'].count())

Percentage of Each Animal

Dog      0.569410
Cat      0.370758
Other    0.055578
Bird     0.004255
Name: animal_type, dtype: float64

Finding most common intake_conditions overall and then by each type of animal

In [20]:
#want to do pivot tables for the different type of animals 
# are birds relevant? Do we need to account for other? 

vc_intake = df['intake_condition'].value_counts()
print(vc_intake)
print
vc_intake_percentages = vc_intake/(df['intake_condition'].count())
print(vc_intake_percentages)

Normal      70056
Injured      3997
Sick         3099
Nursing      1915
Aged          319
Other         147
Feral          92
Pregnant       47
Name: intake_condition, dtype: int64

Normal      0.879305
Injured     0.050168
Sick        0.038897
Nursing     0.024036
Aged        0.004004
Other       0.001845
Feral       0.001155
Pregnant    0.000590
Name: intake_condition, dtype: float64

In [35]:
gb = df.groupby(['animal_type','intake_condition'])[['intake_condition']].agg('count')

gb


bird = gb.loc['Bird']

dog = gb.loc['Dog']

cat = gb.loc['Cat']

other = gb.loc['Other']


list_seperators = [bird, dog, cat, other]

for item in list_seperators:
    
    
    item = item/item.sum()
    print item.sort_values('intake_condition', ascending = False)
    
    
#91% dogs compared to 86% cat's intake condition is normal

                  intake_condition
intake_condition
Normal                    0.669617
Injured                   0.306785
Sick                      0.017699
Other                     0.005900
                  intake_condition
intake_condition
Normal                    0.916105
Injured                   0.039523
Sick                      0.022396
Nursing                   0.012895
Aged                      0.006106
Other                     0.002094
Pregnant                  0.000705
Feral                     0.000176
                  intake_condition
intake_condition
Normal                    0.860963
Injured                   0.051051
Nursing                   0.043062
Sick                      0.038695
Feral                     0.002810
Other                     0.001591
Aged                      0.001320
Pregnant                  0.000508
                  intake_condition
intake_condition
Normal                    0.640696
Sick                      0.210930
Injured                   0.133695
Nursing                   0.013098
Aged                      0.000678
Other                     0.000678
Feral                     0.000226

Find what the average time in shelter is and then find it for each animal type

In [40]:
print 'Average Time in shelter: ' + str(df['time_in_shelter_days'].mean())

Average Time in shelter: 16.7571155453

In [46]:
# create a pivot table 
pt_time_in_shelter = df.groupby(['animal_type'])[['time_in_shelter_days']].agg('mean')
pt_time_in_shelter

             time_in_shelter_days
animal_type
Bird                     8.004333
Cat                     20.087695
Dog                     15.897242
Other                    4.018686

On average, cats are in the shelter (about) 5 more days than dogs

In [52]:
# What are the most common type of outcomes for each animal 
# what are most common type of outcomes in general 

outcome_type_vc = df['outcome_type'].value_counts()
outcome_type_vc/outcome_type_vc.sum()

Adoption           0.421707
Transfer           0.298750
Return to Owner    0.185672
Euthanasia         0.078381
Died               0.008662
Disposal           0.003816
Rto-Adopt          0.002247
Missing            0.000577
Relocate           0.000188
Name: outcome_type, dtype: float64

In [62]:
        

group_by_outcome = df.groupby(['animal_type','outcome_type'])[['outcome_type']].agg('count')
group_by_outcome

                             outcome_type
animal_type outcome_type
Bird        Adoption                  115
            Died                        4
            Disposal                   22
            Euthanasia                 86
            Missing                     1
            Relocate                    7
            Return to Owner             9
            Transfer                   95
Cat         Adoption                12675
            Died                      402
            Disposal                   13
            Euthanasia               1475
            Missing                    29
            Return to Owner          1471
            Rto-Adopt                  36
            Transfer                13435
Dog         Adoption                20581
            Died                      142
            Disposal                   10
            Euthanasia               1502
            Missing                    16
            Return to Owner         13273
            Rto-Adopt                 143
            Transfer                 9697
Other       Adoption                  223
            Died                      142
            Disposal                  259
            Euthanasia               3181
            Relocate                    8
            Return to Owner            38
            Transfer                  572

In [63]:
bird = group_by_outcome.loc['Bird']

dog = group_by_outcome.loc['Dog']

cat = group_by_outcome.loc['Cat']

other = group_by_outcome.loc['Other']


list_seperators = [bird, dog, cat, other]

for item in list_seperators:
    
    
    item = item/item.sum()
    print item.sort_values('outcome_type', ascending = False)
    # vc = df['animal_type'].value_counts()
# vc

                 outcome_type
outcome_type
Adoption             0.339233
Transfer             0.280236
Euthanasia           0.253687
Disposal             0.064897
Return to Owner      0.026549
Relocate             0.020649
Died                 0.011799
Missing              0.002950
                 outcome_type
outcome_type
Adoption             0.453686
Return to Owner      0.292589
Transfer             0.213760
Euthanasia           0.033110
Rto-Adopt            0.003152
Died                 0.003130
Missing              0.000353
Disposal             0.000220
                 outcome_type
outcome_type
Transfer             0.454869
Adoption             0.429137
Euthanasia           0.049939
Return to Owner      0.049804
Died                 0.013611
Rto-Adopt            0.001219
Missing              0.000982
Disposal             0.000440
                 outcome_type
outcome_type
Euthanasia           0.719195
Transfer             0.129324
Disposal             0.058558
Adoption             0.050418
Died                 0.032105
Return to Owner      0.008591
Relocate             0.001809

Looking at the most popular intake versus outtake months

In [ ]:
print 'Most popular intake months'
print df['intake_month'].value_counts()/df['intake_month'].count()

print 'Most popular outcome months'
print df['outcome_month'].value_counts()/df['outcome_month'].count()

The average number of days in the shelter is 16 days. 

The average, if it was equal all year should be 100/12 = 8.3% 

The three most popular intake months are May, October and June (in order). The most popular outcome months are July, October and August. This seems pretty inline with the fact that the average time in the shelter is 16 days, because all the popular outcome months are close to their intake month. One thing that seems suspicious is that there are alot of intakes in March, but April has the lowest percentage of outtakes (with only 6.9%) (Maybe I can do a standard deviation calculation here)

In [ ]:
outcome = df['outcome_month'].plot(kind='bar')
outcome